.quoteParent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 93vh;
    background-color: rgb(41, 41, 41);
}

.quoteDiv{
    display: flex;
    flex-direction: column;

    border-radius: 2vh;
    margin-top: 28vh;
    max-width: 80vh;
    min-width: 40vh;
    max-height: 20vh;
    min-height: 10vh;
    padding : 5vh;
    background-color: orangered;
    transition: transform 0.2s;
}

.quoteParent :hover{
    transform :translateY(0.5vh);
}

.quoteParent :active{
    background-color: rgb(221, 59, 0);
    transform: translateY(0.7vh);
}

h2,h3{
    color: black;
}

h2{
    text-align: right;
}


